@import 'https://fonts.googleapis.com/css?family=Oswald:300,400,700';
body {
  font-family: 'Oswald', sans-serif;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures, contextual;
          font-variant-ligatures: common-ligatures, contextual;
  font-variant-numeric: oldstyle-nums, proportional-nums;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
          font-feature-settings: "kern", "liga", "clig", "calt";
  overflow-x: hidden;
  height: 100%;
}
html {
     height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}
h1, .headline {
    font-size: 36px;
    line-height: 48px;
}
strong{
    color: #dd5858;
}
.page-header-nav {
    border-right: 0.5px solid #ddd;
	top: 0px;
	bottom: 0px;
	width: 25%;
    background: #ffffff;
    position: fixed;
    -webkit-transition: 0.3s width ease-in-out;
    transition: 0.3s width ease-in-out;
}
#fh5co-logo {
    text-align: center;
    margin-top: 60px;
}
.page-nav__list {
    list-style: none;
    margin: 90px 0;
    padding: 0;
    float: none;
    text-align: center;
    padding-bottom: 15px;
}
.page-nav__item {
    border-bottom: 0.5px solid #ddd;
    border-top: 0.5px solid #ddd;
    margin: 0;
    margin-bottom: 12px;
    display: block;
    line-height: 1;
}
.page-nav__item.is-active {
    border-right: 10px solid #dd5858;
}
.page-nav__link.is-active {
    font-weight: 700;
    color: #dd5858;
}
.page-nav__link {
    font-size: 16px;
    font-size: 2rem;
    font-weight: 400;
    color: #555;
    padding: 20px 0;
    display: block;
}
#main[data-transition=fade] .sceneElement {
    -webkit-animation-name: fadeIn;
}
.sceneElement {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.page-content {
    height: 100%;
}
.gallery-item {
	overflow: hidden;
    padding-right: 2.5px;
    padding-left: 2.5px;
    padding-top: 5px;
}
.gallery-item>a>img {
   width: 100%;
}
.img-gallery {
    transition: 0.9s;
}
.page-nav__link.is-active:hover {
    font-weight: 700;
    color: #dd5858;
}
.page-nav__link:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(221, 88, 88, 0.5);
}
.sceneElement {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.is-exiting .sceneElement {
    transition-timing-function: ease-out;
}

#main[data-transition=fade] .sceneElement {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#main[data-transition=fade].is-exiting .sceneElement {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

#main[data-transition=moveleft] .sceneElement {
    -webkit-animation-name: moveInFromLeft;
    animation-name: moveInFromLeft;
}

#main[data-transition=moveleft].is-exiting .sceneElement {
    -webkit-animation-name: moveOutToRight;
    animation-name: moveOutToRight;
}

#main[data-transition=moveright] .sceneElement {
    -webkit-animation-name: moveInFromRight;
    animation-name: moveInFromRight;
}

#main[data-transition=moveright].is-exiting .sceneElement {
    -webkit-animation-name: moveOutToLeft;
    animation-name: moveOutToLeft;
}

@media screen and (max-width: 1200px) {
    .text-boss {
        font-size: x-large;
        padding-top: 3%;
    }
  .page-header-nav {
    display: none;
  }
  .page-content {
    margin-left: 0px;
    margin-left: 0px;
  }
  h2{
    font-size: 20px;
  }

}
@media screen and (min-width: 1200px) {
    .title-description {
        padding-right: 22%;
    }
    .img-gallery:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    .hidden-md-twitter{
        display: none;
    }
    .page-content {
        padding-top: 0% !important;
    }
    .page-content h1 {
        font-size: 4.5rem;
        font-weight: 800;
    }
}
@media screen and (min-width: 768px) {
    .navbar-nav>.active {
        border-bottom: 6px solid #dd5858;

    }
    .page-content {
        padding-top: 5%;
    }
    .navbar-collapse {
        float: right !important;
    }
    .logo-menu{
        width: 80px;
    }
    .logo-menu-container{
        padding: 10px;
        text-align: none;
    }
}

@media screen and (max-width: 768px) {
    .padding-contact{
        height: 100%;
    }
    .text-boss {
        font-size: 30px;
    }
    .section-content > h1{
        font-size: 3rem !important;
    }
    .section-content>p {
    font-size: 1.7rem !important;
    }
    .section-content > h2{
        font-size: 4.5rem !important;
    }
    .wrapper{
        height: initial !important;
    }
    .page-content {
      /*padding-top: 11%;*/
      padding-top: 50px;
      margin-left: auto;
      padding-bottom: 0px;
      margin-right: auto;
    }
    .page-content h1 {
      font-size: 2.5rem;
    }
    .page-content h1 {
      font-size: 2.5rem;
    }
    .logo-menu{
        width: 99px;
        padding: 10px;
        margin-left: 15px;
    }
}
@media screen and (min-width: 992px) {
    .contact-inner {
        padding-left: 10%;
    }
    .content-contact {
        padding-left: 15%;
        text-align: left;
    }
    .padding-contact{
        height: 100%;
    }
    #main{
        height: 100%;
    }
}

.gallery-conent {
	margin-left: -15px;
    overflow: hidden;
}
/*contacto*/
.wrapper.style1 {
    background-color: #999;
}
.wrapper {
    height: 100%;
    position: relative;
}
.wrapper.fade-up > .inner {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1.0;
}
.wrapper > .inner {
    padding: 3%;
}
.wrapper > .inner {
    max-width: 100%;
}
.inner > h2 {
    font-size: 3.75em;
    padding-bottom: 2%;
}
.titles-contact {
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
}
.p-contact {
    margin: 0 0 2em 0;
    padding: 0;
    border: 0;
    font-size: 1.2em;
    vertical-align: baseline;
    color: rgba(255, 255, 255, 0.55);
}
label {
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
    display: block;
    font-size: 1.1em;
}
input[type="text"], input[type="password"], input[type="email"], select {
    height: 2.75em;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.05);
    /*border-radius: 0.25em;*/
    border: none;
    border: solid 1px #fff;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}
textarea {
    padding: 0.75em 1em;
}
ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
form > .actions {
    margin: 2em 0 0 0 !important;
}

ul.actions li:last-child {
    padding-right: 0;
}
ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}
ul.contact {
    list-style: none;
    padding: 0;
}
.button {
    display: inline-block;
    padding: 4px 12px !important;
    margin-bottom: 0;
    font-size: 14px !important;
    text-align: center;
    text-shadow: none !important;
    font-weight: normal !important;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    height: 24px;
    line-height: 24px !important;
    border-radius: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease;
    -webkit-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    background-color: rgba(224, 0, 0, 0.5);
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 0.25em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.field {
    padding-top: 15px;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
    border-color: rgba(255, 255, 255, 0.55) !important;
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: transparent;
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    outline: none;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
}
ul.icons li {
    display: inline-block;
    padding: 0 0.75em 0 0;
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
.jumbotron-icon .fa-1, .jumbotron-icon .fa-2, .jumbotron-icon .fa-3, .jumbotron-icon .fa-4, .jumbotron-icon .fa-5, .jumbotron-icon .fa-6 {
    margin-right: .07142857em;
}
.fa-5 {
    font-size: 2em;
    padding: 10px;
}
.no-padding {
	padding-right: 0px;
	padding-left: 0px;
}
.no-margin{
    margin-left: 0px;
    margin-right: 0px;
}
/* fin de contact*/
/*menu */
a.nounderline:link
{
 text-decoration:none;
}
.sidebar-footer {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 25%;
    z-index: 1000;
    background: #dd5858;
}
.links-social {
    color: #ffffff;
}
.links-social:hover {
    color: #ffffff;
}
.container-fluid{
    height: 100%;
}
.titles-content{
    padding-bottom: 0.25%;
    padding-top: 1%;
}
.title-description{
    background-color: #231f20;
    color: #ffffff;
}
.timeline-Header {
     padding: 0px;
}
.twitter-content{
    padding-left: 5px;
    padding-right: 5px;
}
.twitter-header{
    background-color: #dd5858;
}
.twitter-header > label{
    margin: 0px;
    margin-bottom: 0px;
}
.twitter-timeline-rendered{
    height: 120px !important;
    min-height: 120px !important;
}
/*secciones*/
.section-title {
    padding-left: 0px;
    height: 150px;
    color: #fff;
    padding-right: 5px;
    padding-top: 5px;
}
.section-service{
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 5px;
    height: 150px;
    color: #fff;
}
.section-content {
    margin-bottom: 50%;
    height: 100%;
    background-color: #231f20;
}
.section-content > h1{
    margin-top: 0px;
    padding-top: 26px;
    font-size: 5rem;
}
.section-content > h2{
    /*padding-top: 13%;*/
    padding-top: 36px;
    margin-top: 0px;
    font-size: 6.5rem;
    font-weight: 400;
}
.red {
    background-color: #d95a55;
}
.mask {
    text-align: center;
    color: #fff;
    top: 72%;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.mask-boss {
    text-align: center;
    top: 1%;
    bottom: 0px;
    border: 6px solid rgba(221, 0, 0, .5);
    transition: all 0.4s ease-in-out;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 99999;
}
.mask-img {
    padding: 10px;
}
.section-service >a{
    color: #fff;
}
.section-service >a:hover{
    text-decoration: none;
    color: #fff;
}
.link-service:hover{
    border: 2px solid #231f20;
}
.link-menu-mobile {
    text-decoration: none;
    color: #fff;
    background: rgba(221, 88, 88, 0.5);
}
.submit {
    padding-bottom: 70px;
}
.twitter-contact {
    padding-top: 7px;
}
.navbar-nav>li:hover{
    background: rgba(221, 88, 88, 0.5);
}
.title-description>h2 {
    font-size: 3rem;
}
.section-content>p{
    font-size: 2rem;
}
.footer-mobile {
    color: #fff;
    bottom: 0px;
    clear: both;
    padding: 5px 0 0 0;
    width: 100%;
    z-index: 1000;
    background: #dd5858;
}
.border-boss{
     border: 3px solid #dd5858;
}
.list-services {
    list-style: none;
    padding-left: 0px;
}